- config:        								# Format is "config:value"
	on_success	:	echo "all good !"
	on_failure	:	echo "oh no, it failed !!"

- names:         								# Format is "alias:command_to_execute"
	start		:	~/swid/examples/ISleep.sh 1
	do_stuff1	:	~/swid/examples/IdontSleep.sh 2
	do_stuff2	:	~/swid/examples/ISleep.sh 6			# This is a comment
	do_stuff3	:	~/swid/examples/ISleep.sh 4
	do_stuff4	:	~/swid/examples/ISleep.sh 8
	do_stuff5	:	~/swid/examples/ISleep.sh 3
#	do_stuff6	:	~/swid/examples/ISleep.sh 14			# This wont be executed as it is commented out
	end:	~/swid/examples/ISleep.sh 1

- dependencies:   								# Format is "alias:dependency1 dependency2"
	start		:							# First step to execute, no dependency to anything
	do_stuff1	: 	start						# Depends on "start"
	do_stuff2	: 	start						# Depends on "start"
	do_stuff3	: 	start						# Depends on "start"
	do_stuff4	: 	start						# Depends on "start"
	do_stuff5	: 	do_stuff1 do_stuff2 do_stuff3 do_stuff4		# Depends on do_stuff1, do_stuff2, do_stuff3 and do_stuff4
	end: do_stuff5
